.seatemp {
font-size:20px;
}
.datetime {
font-size:20px;
}
.font1 {
font-size:20px;

}
.fonttitle {
	font-size:20px;
}

.exchangetitle {
	font-size:15px;
}

.newstitle {
	font-size:15px;
	
	}


.title1{
font-size:16px;

}

.news1 {
font-size:16px;

}
.fontexchange {
font-size:20px;	
}
